/*player - blue*/

.blue#board {
  width: 780px;
  height:648px;
  margin: 0 auto;
  padding: 0;
  position:absolute;
  border:5px solid blue;
}

.blue#display {
  position:absolute;
  height: 646px;
  width: 471px;
  border: 6px solid blue;
  right:0px;
  background-color: #74AFAD;
  opacity: 0.85;
  color: white;
  font-family: "scorched earth";
  font-size: 15px;
  font-weight:bold;
}

.blue#endTurn {
  background-color: blue;
  width:100px;
  height: 50px;
  border-radius: 45px;
  margin-left:150px;
  outline: 0;
  font-family: "scorched earth";
  color: white;
}

.selectWeaponBlue {
  margin-left: 43px;
  width: 75px;
  border-radius: 45px;
  background-color: blue;
  font-family: "scorched earth";
  color: white;
}

/*player - red*/

.red#board{
  width: 780px;
  height:648px;
  margin: 0 auto;
  padding: 0;
  position:absolute;
  border:5px solid red;
}

.red#display {
  position:absolute;
  height: 646px;
  width: 471px;
  border: 6px solid red;
  right:0px;
  background-color: #FF7246;
  opacity: 0.85;
  color: white;
  font-family: "scorched earth";
  font-size: 15px;
  font-weight:bold;
}

.red#endTurn {
  background-color: red;
  width:100px;
  height: 50px;
  border-radius: 45px;
  margin-left:150px;
  outline: 0;
  font-family: "scorched earth";
  color: white;
}

.selectWeaponRed {
  margin-left: 43px;
  width: 75px;
  border-radius: 45px;
  background-color: red;
  font-family: "scorched earth";
  color: white;
}


.grid {
  width: 24px;
  height: 25px;
  float: left;
  margin: 0;
  padding: 0;
  border:1px solid black;
}

.invisibleGrid {
  display:none;
}

ul {
  list-style: none
}

#pcmovement {
  width: 98px;
  height: 100px;
  background-color: tan;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 1000ms linear;
}

.enemyDisplay {
  width:300px;
  letter-spacing: 3px;
}

.terrainDisplay {
  width:300px;
  letter-spacing: 3px;
}

table {
  border: 1px solid;
  display: inline-block;
}

td {
  width: 200px;
  height: 30px;
  border: 1px solid;
}

.pcImage {
  height: 197px;
  width:149px;
  position:absolute;
  top:0;
  right:0;
  border:1px solid;
  margin:10px;
}

.enemyImage {
  height: 197px;
  width:149px;
  position:absolute;
  top:30;
  right:0;
  border:1px solid;
  margin:10px;
}

#alpha {
  background: url("icon_xl.png") center no-repeat;
  background-size: cover;
}

#alphaImage {
  background: url("10509651_918383658188721_7841373519136665766_n.jpg") center no-repeat;
  background-size: cover;
}

#beta {
  background: url("icon_xl.png") center no-repeat;
  background-size: cover;
}

#betaImage {
  background: url("10462872_918382554855498_8322994088999754416_n.jpg") center no-repeat;
  background-size: cover;
}

#charlie {
  background: url("icon_xl.png") center no-repeat;
  background-size: cover;
}

#charlieImage {
  background: url("10429317_918382291522191_7594195892058646208_n.jpg") center no-repeat;
  background-size: cover;
}

#delta {
  background: url("icon_xl.png") center no-repeat;
  background-size: cover;
}

#deltaImage {
  background: url("10359411_889985074361913_6360971079605344540_n.jpg") center no-repeat;
  background-size: cover;
}

#echo {
  background: url("icon_xl.png") center no-repeat;
  background-size: cover;
}

#echoImage {
  background: url("10310091_889983264362094_2041784058102440660_n.jpg") center no-repeat;
  background-size: cover;
}

#foxtrot {
  background: url("Image-Icon-Megaman-Helmet-Protoman.png") center no-repeat;
  background-size: cover;
}

#foxtrotImage {
  background: url("1463315_781724858521269_1645806329_n.jpg") center no-repeat;
  background-size: cover;
}

#gamma {
  background: url("Image-Icon-Megaman-Helmet-Protoman.png") center no-repeat;
  background-size: cover;
}

#gammaImage {
  background: url("960233_781723595188062_520901666_n.jpg") center no-repeat;
  background-size: cover;
}

#hotel {
  background: url("Image-Icon-Megaman-Helmet-Protoman.png") center no-repeat;
  background-size: cover;
}

#hotelImage {
  background: url("1480683_781724761854612_2045254585_n.jpg") center no-repeat;
  background-size: cover;
}

#indigo {
  background: url("Image-Icon-Megaman-Helmet-Protoman.png") center no-repeat;
  background-size: cover;
}

#indigoImage {
  background: url("1466268_781725021854586_227228574_n.jpg") center no-repeat;
  background-size: cover;
}

#juliett{
  background: url("Image-Icon-Megaman-Helmet-Protoman.png") center no-repeat;
  background-size: cover;
  opacity: 1;
}

#juliettImage{
  background: url("998961_850228821670872_1501083309_n.jpg") center no-repeat;
  background-size: cover;
  opacity: 1;
}

#rip {
  background: url("rip-clipart-rip-gravestone-md.png") center no-repeat;
  background-size: cover;
}

#ripImage {
  background: url("8TsHW.jpg") center no-repeat;
  background-size: cover;
}

/*.grid {
  background: url("tree.png") center no-repeat;
  background-size: cover;
}*/



.inRange {
  border: 1px solid red;
}

#infoDisplay {
  height:85px;
  width: 300px;
  border: 1px solid;
  margin-left:1px;
  margin-bottom: 5px;
}

.forest {
  background: url("forest.png") center no-repeat;
  background-size: cover;
}

.rock {
  background: url("rock.png") center no-repeat;
  background-size: cover;
}

.water {
  background: url("water.png") center no-repeat;
  background-size: cover;
}

.sand {
  background: url("sand.png") center no-repeat;
  background-size: cover;
}

.plains {
  background: url("plains.png") center no-repeat;
  background-size: cover;
}

.ice {
  background: url("ice.png") center no-repeat;
  background-size: cover;
}

body {
  background: url("dystopian-abandoned-cities-dubai-1024x588.jpg") center no-repeat fixed;
  background-size: cover;
}

.invisible {
  display:none;
}

table#teamOneChoice {
  border:1px solid;
  float:left;
  background-color: #74AFAD;
  opacity: 0.85;
  color: white;
  font-family: "scorched earth";
}

table#teamTwoChoice {
  border:1px solid;
  float:right;
  background-color: #FF7246;
  opacity: 0.85;
  color: white;
  font-family: "scorched earth";
}

table#teamOneChoice td {
  border:1px solid;
  height:20px;
  width: 250px;
}

table#teamTwoChoice td {
  border:1px solid;
  height:20px;
  width: 250px;
}

.buttonPrev {
  float:left;
}

.buttonNext {
  float:right;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  resize:none;
  height: 18px;
  width:150px;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

h1 {
  margin:auto;
  text-align:center;

}