.board {
  width: 800px;
  height:800px;
  margin: 0 auto;
  padding: 0;
  position:absolute;
}

.board li {
  width: 98px;
  height: 100px;
  float: left;
  margin: 0;
  padding: 0;
  border:1px solid black;
}

ul {
  list-style: none
}

.shu {
  background: url("shu.jpg") center no-repeat;
  background-size: cover;
}

#pcmovement {
  width: 98px;
  height: 100px;
  background-color: tan;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  transition: all 1000ms linear;
}

.alpha {
  background: url("gundam00-helmet-icons-01.jpg") center no-repeat;
  background-size: cover;
}

.beta {
  background: url("gundam00-helmet-icons-01.jpg") center no-repeat;
  background-size: cover;
}

.display {
  position:absolute;
  height: 800px;
  width: 400px;
  border: 1px solid;
  right:0px;
}

table {
  border: 1px solid;
  display: inline-block;
}

td {
  width: 200px;
  height: 75px;
  border: 1px solid;
}