.board {
  width: 400px;
  height:400px;
  margin: 0 auto;
  padding: 0;
  position:absolute;
}

.board li {
  width: 48px;
  height: 50px;
  float: left;
  margin: 0;
  padding: 0;
  border:1px solid black;
}

ul {
  list-style: none
}

#pcmovement {
  width: 98px;
  height: 100px;
  background-color: tan;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  transition: all 1000ms linear;
}

.display {
  position:absolute;
  height: 800px;
  width: 400px;
  border: 1px solid;
  right:0px;
}

table {
  border: 1px solid;
  display: inline-block;
}

td {
  width: 200px;
  height: 30px;
  border: 1px solid;
}

.alpha {
  background: url("gundam00-helmet-icons-01.jpg") center no-repeat;
  background-size: cover;
}

.beta {
  background: url("gundam00-helmet-icons-01.jpg") center no-repeat;
  background-size: cover;
}

.charlie {
  background: url("gundam00-helmet-icons-01.jpg") center no-repeat;
  background-size: cover;
}

.delta {
  background: url("gundam00-helmet-icons-01.jpg") center no-repeat;
  background-size: cover;
}

.echo {
  background: url("gundam00-helmet-icons-01.jpg") center no-repeat;
  background-size: cover;
}

.foxtrot {
  background: url("Image-Icon-Megaman-Helmet-Protoman.png") center no-repeat;
  background-size: cover;
}

.gamma {
  background: url("Image-Icon-Megaman-Helmet-Protoman.png") center no-repeat;
  background-size: cover;
}

.hotel {
  background: url("Image-Icon-Megaman-Helmet-Protoman.png") center no-repeat;
  background-size: cover;
}

.indigo {
  background: url("Image-Icon-Megaman-Helmet-Protoman.png") center no-repeat;
  background-size: cover;
}

.juliett {
  background: url("Image-Icon-Megaman-Helmet-Protoman.png") center no-repeat;
  background-size: cover;
}

.rip {
  background: url("rip-clipart-rip-gravestone-md.png") center no-repeat;
  background-size: cover;
}

#endTurn {
  background-color: red;
  width:50px;
  height: 50px;
  border-radius: 45px;
}